*{
    margin:0;
    padding:0;
	box-sizing: border-box;
}

.bg{
    width:100%;
    height: 100%;
    background-image:url(image\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}
.click h2{
    font-size: 70px;
    text-align:center;
    padding: 30px 30px;
    text-decoration: blod;
    color: #FF2146;
text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;
	background: #29FF45;
background: -moz-radial-gradient(center, #29FF45 0%, #121A15 50%, #FF171B 100%);
background: -webkit-radial-gradient(center, #29FF45 0%, #121A15 50%, #FF171B 100%);
background: radial-gradient(ellipse at center, #29FF45 0%, #121A15 50%, #FF171B 100%);;

}

.submit p{
    margin: 30px 0;
    font-size: 55px;
    text-align: center;
    padding: 20px 30px;
    text-decoration: bold;
    color:#3D3DFF;
    text-transform: uppercase;
    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;
}

.click button{
    width: 200px;
    font-size: 30px;
    margin-top: 30px;
    padding: 10px;
    margin-left: 43%;
    color: rgb(255, 0, 170);
    cursor: pointer;
    text-decoration: bold;
    border-radius: 10px;
    border: 2px solid red;

}

.left button{
    display: inline;
    width: 200px;
    font-size: 30px;
    padding: 10px;
    float: left;
    margin-left: 35%;
    color: rgb(255, 0, 170);
    cursor: pointer;
    text-decoration: bold;
    border-radius: 10px;
    border: 2px solid red;

}
.right button{
    display: inline;
    width: 200px;
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
    color: rgb(255, 0, 170);
    cursor: pointer;
    text-decoration: bold;
    border-radius: 10px;
    border: 2px solid red;

}

.bg button:hover{
    background-color: #000;
    color:#fff;

}

.text-color h2{
    margin: 30px 0;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 30px;
    text-decoration: bold;
    color:#7e867d;
    text-shadow: #000000 2px 2px 0px, #FF1C49 4px 4px 0px;
}

.left1 button{
    display: inline;
    width: 200px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    float: left;
    margin-left: 35%;
    color: rgb(255, 0, 170);
    cursor: pointer;
    text-decoration: bold;
    border-radius: 10px;
    border: 2px solid red;

}
.right1 button{
    display: inline;
    width: 200px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
    color: rgb(255, 0, 170);
    cursor: pointer;
    text-decoration: bold;
    border-radius: 10px;
    border: 2px solid red;

}



